[submodule "baselines/openpi"]
	path = baselines/openpi
	url = https://github.com/wensi-ai/openpi.git
	branch = behavior
[submodule "baselines/il_lib"]
	path = baselines/il_lib
	url = https://github.com/wensi-ai/il_lib.git
	branch = main
